$primary: #6e8b3d;
$primary-strong: #5a7a2c;
$text: #b7b7b7;
$terracotta: #a0846c;
$terracotta-strong: #9b795c;
$white: #f9f9f9;
$navbar-hover: rgba(137, 141, 182, 0.349);
$background-gradient: linear-gradient(to bottom, #b7b7b7, #a0846c);
